/* Importação moderna do Tailwind v4 */
@import "tailwindcss";

/* Injetando a nossa paleta Neo-brutalista no tema nativo */
@theme {
  --color-acid-green: #a3e635;
  --shadow-brutal: 4px 4px 0px 0px rgba(0,0,0,1);
}

body {
  background-color: #f8fafc;
} 